.dropdown-btn{
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
    align-self: center;
    padding: 5px;
    position: absolute;
    right: 25px;
    top: 29px;
}
@media(max-width: 768px){
    .dropdown-btn{
        display: inline-block;
    }
}
@media(max-width: 375px){
    .dropdown-btn{
        right: 18px;
    }
}
.dropdown-btn:hover{
    cursor: pointer;
}

.dropdown-btn__icon{
    width: 30px;
    height: 5px;
    background-color: var(--turquoise-color);
}
.dropdown-btn__icon:not(:nth-last-child(1)){
    margin-bottom: 5px;
}

.icon.inactive, .cross-icon.inactive{
    display: none;
}
.icon.active, .cross-icon.active{
    display: block;
}

.dropdown-menu{
    position: absolute;
    padding-top: 17px;
    width: 100%;
    min-height: 375px;
    background-color: var(--turquoise-color);
}
@media (min-width: 768.98px){
    .dropdown-menu{
        display: none;
    }
}
.dropdown-menu__wrapper.active{
    visibility: visible;
    position: absolute;
    top: 93px;
    height: calc(100% - 93px);
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
    opacity: 1;
    z-index: 1;
}
.dropdown-menu__wrapper.inactive{
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}


.dropdown-menu .navbar-list{
    flex-direction: column;
}
.dropdown-menu .navbar-link{
    display: block;
    padding: 13px 0;
    height: auto;
    text-align: center;
    color: var(--white-color);
}
.dropdown-menu .navbar-link .active{
    background-color: #016967;
}
.dropdown-menu .navbar-link:hover{
    background-color: #00807d;
}
.dropdown-menu .navbar-link:active{
    background-color: #00807d;
}

.dropdown-menu .vr{
    display: none;
}

.dropdown-menu .auth-menu{
    flex-direction: column;
    padding: 75px 0;
}

.dropdown-menu .auth-menu__link{
    color: var(--white-color);
    opacity: .4;
    margin-bottom: 20px;
}
.dropdown-menu .auth-menu__link:hover{
    opacity: .5;
}
.dropdown-menu .auth-menu__link:active{
    opacity: .6;
}

.dropdown-menu .auth-btn{
    width: calc(100% - 80px);
    padding: 12px 0;
}

.wrapper{
    display: flex;
    justify-content: center;
    padding: 75px 0;
}

.dropdown-menu .navbar-link.active{
    opacity: .55;
}

.div{
    height: 100%;
    width: 100%;
}