.button{
    color: var(--white-color);
    font-weight: 500;
    letter-spacing: .4px;
    font-size: 22px;
    background-color: var(--light-blue-color);
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 16px 0;
    width: 335px;
    transition: .2s ease;
}
.button:hover{
    background-color: #5064e4;
    cursor: pointer;
    transition: .2s ease;
}
.button:active{
    background-color: #485ace;
    transition: .2s ease;
}
@media (max-width: 1023.98px){
    .button{
        font-size: 20px;
        width: 100%;
    }
}
@media (max-width: 375px){
    .button{
        font-size: 16px;
    }
}

.button:disabled{
    opacity: .5;
    cursor: default;
    pointer-events: none;
}

