input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0;
    cursor: pointer;
}

.date{
    cursor: pointer;
}

.data-range-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 70px;
}
@media (max-width: 768px){
    .data-range-wrapper{
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
}

.data-range-wrapper .error-message__wrapper {
    width: 100%;
    top: 53px;
}
@media (max-width: 768px){
    .data-range-wrapper .error-message__wrapper{
        top: 120px;
    }
}

.data-range-wrapper .select-wrapper{
    height: min-content;
    width: 48%;
}
@media (max-width: 768px){
    .data-range-wrapper .select-wrapper{
        width: 100%;
    }
    .data-range-wrapper .select-wrapper:first-child{
        margin-bottom: 20px;
    }
}