.first-main-page-section{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 200px;
}
@media (max-width: 1300px){
    .first-main-page-section{
        margin-bottom: 150px;
    }
}
@media (max-width: 1150px){
    .first-main-page-section{
        margin-bottom: 100px;
    }
}
@media (max-width: 768px){
    .first-main-page-section{
        margin-bottom: 55px;
    }
}

.first-main-page-section__img{
    width: 45vw;
    max-width: 629px;
    max-height: 593px;
    position: absolute;
    right: 0;
    z-index: -1;
}
@media (max-width: 1023.98px){
    .first-main-page-section__img{
        position: static;
        width: 100%;
        margin: 0 auto;
    }
}

.first-main-page-section__text{
    font-size: 20px;
    width: 530px;
    margin-bottom: 70px;
}
@media (max-width: 1300px){
    .first-main-page-section__text{
        font-size: 18px;
        width: 480px;
    }
}
@media (max-width: 1150px){
    .first-main-page-section__text{
        width: 450px;
    }
}
@media (max-width: 768px) {
    .first-main-page-section__text{
        margin-bottom: 30px;
    }
}
@media (max-width: 530px) {
    .first-main-page-section__text{
        width: 325px;
    }
}
@media (max-width: 375px) {
    .first-main-page-section__text{
        width: 100%;
        font-size: 16px;
    }
}

.first-main-page-section .title{
    width: 16ch;
}

.carousel{
    width: 100%;
    margin-bottom: 70px;
}

.second-main-page-section__img{
    width: 100%;
}
@media (max-width: 768px){
    .second-main-page-section__img{
        height: 380px;
        width: initial;
    }
}
@media (max-width: 375px){
    .second-main-page-section__img{
        max-height: 300px;
    }
}

.image-wrapper{
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}
@media (max-width: 768px){
    .image-wrapper{
        margin-bottom: 75px;
    }
}

.second-main-page-section__rates-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 120px;
}
@media (max-width: 1439.98px){
    .second-main-page-section__rates-wrapper{
        width: 870px;
        margin: 0 auto 120px auto;
    }
}
@media (max-width: 1023.98px){
    .second-main-page-section__rates-wrapper{
        width: 430px;
        justify-content: center;
        margin: 40px auto;
    }
}
@media (max-width: 475px){
    .second-main-page-section__rates-wrapper{
        width: 100%;
    }
}

.first-main-page-section__button-wrapper{
    min-height: 60px;
}
@media (max-width: 1023.98px) {
    .first-main-page-section__button-wrapper{
        min-height: 0;
    }
}