.account-menu__profile{
    display: flex;
    align-items: center;
}
@media(max-width: 768px){
    .header-right .account-menu__profile{
        display: none;
    }
}

.account-menu__profile__info{
    text-align: end;
    margin-right: 4px;
}

.account-menu__profile__info__btn{
    font-size: 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #888;
    padding: 0;
    transition: .2s;
}
.account-menu__profile__info__btn:hover{
    color: #666;
    cursor: pointer;
    transition: .2s;
}
.account-menu__profile__info__btn:active{
    color: #444;
    cursor: pointer;
    transition: .2s;
}

.account-menu__profile__info__text{
    width: max-content;
}

.account-menu__profile__info__avatar{
    width: 32px;
    border-radius: 50%;
}