.wrapper-carousel{
    --width-elem: 430px;
    width: calc(var(--width-elem) * 3 + 30px);
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
}
@media (max-width: 1439px) {
    .wrapper-carousel{
        width: calc(var(--width-elem) * 2);
        padding-left: 0;
    }
}
@media (max-width: 1023px) {
    .wrapper-carousel{
        width: calc(var(--width-elem));
    }
}
@media (max-width: 530px) {
    .wrapper-carousel{
        width: 330px;
    }
}
@media (max-width: 375px) {
    .wrapper-carousel{
        width: 280px;
    }
}
.wrapper-carousel .flickity-enabled{
    position: static;
}

.wrapper-carousel .flickity-prev-next-button {
    background-color: transparent;
    opacity: .4;
    transition: .2s;
}

.wrapper-carousel .flickity-prev-next-button:hover {
    background-color: transparent;
    opacity: 1;
    transition: .2s;
}

.wrapper-carousel .flickity-prev-next-button.previous {
    left: -15px;
}

.wrapper-carousel .flickity-prev-next-button.next {
    right: -15px;
}

@media (max-width: 1439px) {
    .wrapper-carousel .flickity-prev-next-button.previous {
        left: -35px;
    }
    
    .wrapper-carousel .flickity-prev-next-button.next {
        right: -35px;
    }
}
@media (max-width: 400px) {
    .wrapper-carousel .flickity-prev-next-button.previous {
        left: -25px;
    }
    
    .wrapper-carousel .flickity-prev-next-button.next {
        right: -25px;
    }
}