.form .button{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
}

.link-wrapper{
    text-align: center;
    margin-bottom: 30px;
}

.recover-link{
    color: #5970FF;
}
.recover-link:hover{
    color: #5165e7;
    cursor: pointer;
}

.span{
    display: block;
    font-size: 16px;
    color: #949494;
    letter-spacing: .02em;
    margin-bottom: 15px;
}

.login-button-group{
    display: flex;
    align-items: center;
}

.login-button-group__btn{
    width: 96px;
    height: 31px;
    background-color: var(--white-color);
    border: 1px solid rgba(89, 112, 255, 0.51);
    border-radius: 3px;
    line-height: 0;
    margin-right: 10px;
    outline: none;
}

.login-button-group__btn:last-child{
    margin-right: 0;
}

.login-button-group__btn:hover{
    cursor: pointer;
}